<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List maps</title>
  </head>

  <body style="display: flex">
    <div class="sidebar" style="margin: 10px">
      <h3>Add points</h3>
      <form
        action="{{ url_for('point') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="pointName">Name:</label>
        <input type="text" id="pointName" name="pointName" required />
        <br />
        <label for="pointDescription">Description:</label>
        <textarea
          id="pointDescription"
          name="pointDescription"
          rows="3"
          required
        ></textarea>
        <br />
        <label for="file">Upload File:</label>
        <input type="file" id="pointIcon" name="pointIcon" required />
        <br />
        <button type="submit">Save</button>
      </form>
    </div>
    <div class="main">
      <img src="{{ image_url }}" alt="" />
    </div>
  </body>
</html>
